#displayArea {
    width: 100%;
    height: 100%;

    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
}

#nowLoading, #inputField, input {
    font-size: min(9vw, 40px);
}

#nowLoading, #inputField {
    position: relative;
    transform: translate(-50%, -50%);
}

#inputField {
    margin: 0;
}

input {
    text-align: right;

    min-width: 100px;
}

#outputField {
    margin: 0;
    margin-top: 20px;

    position: relative;
    transform: translate(-50%, -50%);

    font-size: min(7vw, 30px);
}

footer {
    position: absolute;
    bottom: 0;
}
